<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Sobre Nosotros</h6>
                <p>Stranger Accounts, es un nuevo comercio digital, regido por la Calidez y
                    Empatía de su personal hacia nuestros clientes</p>
            </div>

            <div class="col-xs-6 col-md-3" id="cont">
                <h6>Contáctanos</h6>
                <p>Teléfono: 2234546</p>
                <p>Celular: 64737593</p>
                <p>Dirección: Obrajes, calle 2, Avenida 14 de septiembre</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; Mirko Alarcon
                </p>
            </div>
        </div>
    </div>
</footer>