<div class="caja">
		<form id="formulario" action="">
		<h3 style="text-align: center;">Formulario de contactos:</h3>
		<label for="user">Nombres: </label>
        <input type="text" name="nombre" id="txt">
        <label for="user">Apellidos: </label>
        <input type="text" name="apellido" id="txt">
        <label for="user">Dirección: </label>
        <input type="text" name="direccion" id="txt">
        <label for="user">Edad: </label>
        <input type="text" name="edad" id="txt">
        <label for="user">Celular: </label>
        <input type="text" name="celular" id="txt">
        <label for="user">Correo Electrónico: </label>
        <input type="text" name="email" id="txt">
        <label for="user">Fecha </label>
        <input type="date" name="fecha_r" id="txt"> 
        <br>
        <input type="submit" (click)="envio();" value="Enviar"><br>
        </form>
	</div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.4725827496654!2d-68.13412028575262!3d-16.502222645156408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f207aa8046923%3A0x4540eecb24f0a64d!2sOdontomundo%20Cl%C3%ADnica%20Odontol%C3%B3gica!5e0!3m2!1ses!2sbo!4v1654150756887!5m2!1ses!2sbo" width="600" height="450" style="border:0; margin-left: 22.5%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

