@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=League+Spartan:wght@100&family=Roboto+Condensed:wght@300&display=swap');
body {
	font-family: 'Fredoka', sans-serif;
	background-color: white;
}
img{
	border-radius: 30px;
	margin: 10px;
	display:block;
	margin:auto;
}
img.auto{
  border-radius: 30px;
  margin: 10px;
  display:block;
  margin:auto;
  width: 50%;
}
img.venta{
  border-radius: 30px;
  margin: 10px;
  display:block;
  margin:auto;
  width: 20%;
}
ul {
  width: 50%;
  list-style-type: none;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}
li {
  float: left;
  border: 1px solid #bbb;
}
a {
  display: block;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  padding: 10px;
  background-color: white;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #40a6ff;
}
.active {
  background-color: #40a6ff;
}
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  text-align: center;
}
h1.titulo {
  font-family: 'Roboto Condensed', sans-serif;
  color: #40a6ff;
  text-align: center; 
}
h1.venta {
  font-family: 'Roboto Condensed', sans-serif;
  color: #1dcdcc;
  text-align: center; 
}
p { 
  color: black;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  font-size: large;
  padding: 5px;
}
p.ven { 
  color: white;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  font-size: xx-large;
  padding: 5px;
  text-align: center; 
}
div.caja {
  background-color: rgb(42, 157, 143);
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 30px;
  margin-bottom: 30px;  
  border-radius: 30px;
}
div.lista {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
}
label, input{
    display: block;
    margin: auto;
    text-align: center;
    line-height: 150%;
    width: 15%;
    color: black;
}
.pie-pagina {
  width: 100%;
  height: 50%;
  background-color: rgb(181, 249, 255);
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .h2{
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
} 
.pie-pagina .grupo-1 .p{
  color: white;
  margin-bottom: 10px;

}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  color: #00b68d;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: #006401;
}
.pie-pagina .grupo-2{
  background-color: #009bff;
  padding: 15px 10px;
  text-align: center;
  color: white;
} 
.carousel{
  min-height: 50px;
}
.carousel .carousel-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: white;
  border-radius: 30px;
  width: 50px;
  height: 50px;
}
.carousel .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.carousel .carousel-item h2{
  color: yellowgreen;
}
.carousel .carousel-item p{
  color: turquoise;
}
#txt{
  width: 15rem;
  border-radius: 10px;
}
#txt:hover{
  border-bottom: 5px solid red;
}
#mapa{
  margin-left: 80px;
}